/* The actual feed design with new post button */
.forum-feed {
    margin-top: 20px;
    border-top: 2px solid;
    padding-top: 20px;
}
.new-post-button {
    background-color: #132833;
    color: #72a98b;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.new-post-button:hover {
    background-color: #253b45;
}
.new-post-button i {
    margin-left: 0.5rem;
}
/* Top right buttons designs */
.notification-button, .messages-button, .settings-button {
    color:#72a98b;
    background-color: transparent;
    border: none;
    padding: 0;
    margin-left: 10px;
    cursor: pointer;
}
.webpage-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #132833;
    color: #72a98b;
}
.webpage-header-logo {
    display: flex;
    align-items: center;
}
.logo-icon img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}
.ProLink-name {
    font-size: 24px;
    font-weight: bold;
}
.header-navigation {
    flex-grow: 1;
    margin: 0 20px;
}
.search-bar {
    display: flex;
    align-items: center;
}
/* .search-bar input[type="text"] {
    padding: 5px;
    margin-right: 5px;
} */
.user-settings-button {

}